@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

.active {
    @apply font-medium tracking-wide text-[#FACC15] bg-transparent
}

.default {
    @apply font-medium tracking-wide text-black bg-transparent
}

.my-btn {
    @apply bg-yellow-400 text-[#1d4ed8] py-3 px-6 rounded-[45px] font-semibold border-2 border-[#FACC15]
}

.social-btn {
    @apply btn btn-outline capitalize w-full text-lg transition-colors duration-200 ease-in-out
}

.card-shadow {
    box-shadow: 0px 1px 23px 4px rgba(0, 0, 0, 0.7);
}

.form-btn {
    background-color: #FACC15;
    font-weight: 600;
    color: #1d4ed8;
    padding: 12px 16px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}

.form-btn:hover {
    background-color: white;
    color: #1d4ed8;
}

.recipe-img {
    transform: scale(1);
    transition: all .25s linear;
}

.recipe-img:hover {
    transform: scale(1.1);
}